@font-face {
	font-family: __Inter_aaf875;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url(./media/ec159349637c90ad-s.woff2) format('woff2');
	unicode-range: u+0460-052f, u+1c80-1c88, u+20b4, u+2de0-2dff, u+a640-a69f,
		u+fe2e-fe2f;
}
@font-face {
	font-family: __Inter_aaf875;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url(./media/513657b02c5c193f-s.woff2) format('woff2');
	unicode-range: u+0301, u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116;
}
@font-face {
	font-family: __Inter_aaf875;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url(./media/fd4db3eb5472fc27-s.woff2) format('woff2');
	unicode-range: u+1f??;
}
@font-face {
	font-family: __Inter_aaf875;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url(./media/51ed15f9841b9f9d-s.woff2) format('woff2');
	unicode-range: u+0370-0377, u+037a-037f, u+0384-038a, u+038c, u+038e-03a1,
		u+03a3-03ff;
}
@font-face {
	font-family: __Inter_aaf875;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url(./media/05a31a2ca4975f99-s.woff2) format('woff2');
	unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1,
		u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329,
		u+1ea0-1ef9, u+20ab;
}
@font-face {
	font-family: __Inter_aaf875;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url(./media/d6b16ce4a6175f26-s.woff2) format('woff2');
	unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff,
		u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff;
}
@font-face {
	font-family: __Inter_aaf875;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url(./media/c9a5bc6a7c948fb0-s.p.woff2) format('woff2');
	unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
		u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191,
		u+2193, u+2212, u+2215, u+feff, u+fffd;
}
@font-face {
	font-family: __Inter_Fallback_aaf875;
	src: local('Arial');
	ascent-override: 90.49%;
	descent-override: 22.56%;
	line-gap-override: 0%;
	size-adjust: 107.06%;
}
.__className_aaf875 {
	font-family: __Inter_aaf875, __Inter_Fallback_aaf875;
	font-style: normal;
}
body,
html {
	max-width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
}
html {
	scroll-behavior: smooth;
	background-color: #272727;
}
body {
	background-color: var(--page-bg);
	color: var(--text-color);
	font-family: var(--font-main);
	font-size: 1.8rem;
	font-style: normal;
	font-weight: 400;
	zoom: 1;
}
a {
	color: inherit;
	text-decoration: none;
}
code {
	padding: 0.2rem;
}
code,
pre.code {
	background-color: #e9f1f6;
	border-radius: 4px;
}
pre.code {
	overflow-x: auto;
	padding: 1rem;
}
.edge-1-bg {
	background: #1038c9 url(./media/edge-2-bg.659576d6.svg) 50% no-repeat;
	background-size: cover;
}
.edge-1-bg:before {
	content: '';
	background: url(./media/edge-icon-1.50ac85c1.svg) bottom no-repeat;
	background-size: cover;
	display: block;
	flex-shrink: 0;
	width: 3.2rem;
	height: 3.2rem;
	margin-bottom: 3rem;
}
.edge-2-bg {
	background: #1038c9 url(./media/edge-2-bg.659576d6.svg) 50% no-repeat;
	background-size: cover;
}
.edge-2-bg:before {
	content: '';
	background: url(./media/edge-icon-2.cb955223.svg) bottom no-repeat;
	background-size: cover;
	display: block;
	flex-shrink: 0;
	width: 3.2rem;
	height: 3.2rem;
	margin-bottom: 3rem;
}
.edge-3-bg {
	background: #1038c9 url(./media/edge-2-bg.659576d6.svg) 50% no-repeat;
	background-size: cover;
}
.edge-3-bg:before {
	content: '';
	background: url(./media/edge-icon-3.bcc204dd.svg) bottom no-repeat;
	background-size: cover;
	display: block;
	flex-shrink: 0;
	width: 3.2rem;
	height: 3.2rem;
	margin-bottom: 3rem;
}
video {
	max-width: 100%;
	object-fit: contain;
	overflow-clip-margin: content-box;
	overflow: clip;
}
@font-face {
	font-family: MazzardHLight;
	font-display: swap;
	src: url(./media/MazzardH-Light.927731dc.woff2) format('woff2'),
		url(./media/MazzardH-Light.e6725479.woff) format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: MazzardHLightItalic;
	font-display: swap;
	src: url(./media/MazzardH-LightItalic.5bbcc3e1.woff2) format('woff2'),
		url(./media/MazzardH-LightItalic.b6d49391.woff) format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: MazzardHRegular;
	font-display: swap;
	src: url(./media/MazzardH-Regular.66a818eb.woff2) format('woff2'),
		url(./media/MazzardH-Regular.28a6a1e1.woff) format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: MazzardHRegularItalic;
	font-display: swap;
	src: url(./media/MazzardH-Italic.4eff9e2f.woff2) format('woff2'),
		url(./media/MazzardH-Italic.5ddb1497.woff) format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: MazzardHMedium;
	font-display: swap;
	src: url(./media/MazzardH-Medium.e6548b76.woff2) format('woff2'),
		url(./media/MazzardH-Medium.284528a0.woff) format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: MazzardHMediumItalic;
	font-display: swap;
	src: url(./media/MazzardH-MediumItalic.376a6793.woff2) format('woff2'),
		url(./media/MazzardH-MediumItalic.df14d9ec.woff) format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: MazzardHSemiHBold;
	font-display: swap;
	src: url(./media/MazzardH-SemiBold.77932e4e.woff2) format('woff2'),
		url(./media/MazzardH-SemiBold.2b36e1e8.woff) format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: MazzardHSemiBoldItalic;
	font-display: swap;
	src: url(./media/MazzardH-SemiBoldItalic.2aeeafab.woff2) format('woff2'),
		url(./media/MazzardH-SemiBoldItalic.98346e28.woff) format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: MazzardHBold;
	font-display: swap;
	src: url(./media/MazzardH-Bold.076d7e23.woff2) format('woff2'),
		url(./media/MazzardH-Bold.c8ccfadd.woff) format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: MazzardHBoldItalic;
	font-display: swap;
	src: url(./media/MazzardH-BoldItalic.c2e51663.woff2) format('woff2'),
		url(./media/MazzardH-BoldItalic.87ddd322.woff) format('woff');
	font-weight: 700;
	font-style: normal;
}
.container {
	margin: 0 auto;
	padding: 0 var(--container-padding);
	max-width: var(--container-width);
	width: 100%;
}
@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
}
@media (max-width: 992px) {
	.container {
		max-width: 720px;
	}
}
@media (max-width: 768px) {
	.container {
		max-width: 540px;
	}
}
@media (max-width: 576px) {
	.container {
		max-width: 100%;
	}
}
.container-full {
	padding: 0 var(--container-padding);
	max-width: 100%;
}
.container-left-50 {
	padding: 0 var(--container-padding);
	max-width: 50%;
}
@media (max-width: 768px) {
	.container-left-50 {
		max-width: 100%;
	}
}
.container-right-50 {
	padding: 0 var(--container-padding);
	max-width: 50%;
	margin-left: auto;
}
@media (max-width: 768px) {
	.container-right-50 {
		max-width: 100%;
	}
}
.container-right {
	padding-left: calc(
		(100% - var(--container-width)) / 2 + var(--container-padding)
	);
}
@media (max-width: 1200px) {
	.container-right {
		padding-left: var(--container-padding);
	}
}
.container-left {
	padding-right: calc(
		(100% - var(--container-width)) / 2 + var(--container-padding)
	);
}
@media (max-width: 1200px) {
	.container-left {
		padding-right: var(--container-padding);
	}
}
.container-half-left {
	padding-right: calc(
		(100% - var(--container-width)) / 2 + var(--container-width) / 2
	);
	padding-left: calc(
		(100% - var(--container-width)) / 2 + var(--container-padding)
	);
}
@media (max-width: 1200px) {
	.container-half-left {
		padding-left: var(--container-padding);
	}
}
@media (max-width: 768px) {
	.container-half-left {
		padding: 0 var(--container-padding);
	}
}
.container-half-right {
	padding-left: calc(
		(100% - var(--container-width)) / 2 + var(--container-width) / 2
	);
	padding-right: calc(
		(100% - var(--container-width)) / 2 + var(--container-padding)
	);
}
@media (max-width: 1200px) {
	.container-half-right {
		padding-right: var(--container-padding);
	}
}
@media (max-width: 768px) {
	.container-half-right {
		padding: 0 var(--container-padding);
	}
}
.section {
	margin-top: 7rem;
}
@media (max-width: 992px) {
	.section {
		margin-top: 4rem;
	}
}
@media (max-width: 768px) {
	.section {
		margin-top: 3rem;
	}
}
.section__container {
	width: 100%;
	display: flex;
}
.section__container .--row {
	flex-direction: row;
}
.section__container--left {
	padding-right: var(--container-padding);
	max-width: 50%;
}
.section__container--right {
	padding-left: var(--container-padding);
	max-width: 50%;
	margin-left: auto;
}
@media (max-width: 1200px) {
	.--row {
		flex-direction: column !important;
	}
	.section__container--left {
		max-width: 100%;
		padding-right: unset;
	}
	.section__container--right {
		max-width: 100%;
		padding-left: unset;
		margin-left: unset;
	}
}
* {
	padding: 0;
	margin: 0;
	border: none;
}
*,
:after,
:before {
	box-sizing: border-box;
}
a,
a:hover,
a:link,
a:visited {
	text-decoration: none;
}
aside,
footer,
header,
main,
nav,
section {
	display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}
ul,
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
img,
svg {
	max-width: 100%;
	height: auto;
}
address {
	font-style: normal;
}
button,
input,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}
input::-ms-clear {
	display: none;
}
button,
input[type='submit'] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}
button:active,
button:focus,
input:active,
input:focus {
	outline: none;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
label {
	cursor: pointer;
}
legend {
	display: block;
}
.none {
	display: none !important;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.no-scroll {
	overflow-y: hidden;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.d-flex {
	display: flex;
}
.flex-column {
	flex-direction: column;
}
.align-items {
	align-items: center;
}
.flex-center {
	justify-content: center;
}
.no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.rotate-45:after {
	transform: rotate(-45deg);
}
.fixed {
	display: fixed;
	bottom: 2rem !important;
	opacity: 1 !important;
}
.white button {
	color: var(--black) !important;
	background-color: #fff !important;
}
.white button svg path {
	fill: var(--black) !important;
}
.swiper {
	margin: 0;
	padding: 0;
}
.swiper,
.swiper-slide {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.autoplay-progress {
	position: absolute;
	right: 16px;
	bottom: 16px;
	z-index: 10;
	width: 52px;
	height: 52px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 400;
	color: #2a99ff !important;
}
.autoplay-progress svg {
	--progress: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	stroke-width: 3px;
	stroke: #2a99ff !important;
	fill: none;
	stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
	stroke-dasharray: 125.6;
	transform: rotate(-90deg);
}
.swiper-button-next,
.swiper-button-prev {
	color: #2a99ff !important;
}
.swiper-pagination-bullet {
	width: 8px !important;
	height: 8px !important;
}
.swiper-pagination-bullet .swiper-pagination-bullet-active {
	color: #2a99ff !important;
}
.reviews-1 {
	background: var(--blue) url(./media/1.034d708b.jpg) center center no-repeat !important;
	background-size: cover !important;
}
.reviews-2 {
	background: var(--blue) url(./media/2.034d708b.jpg) center center no-repeat !important;
	background-size: cover !important;
}
.reviews-3 {
	background: var(--blue) url(./media/3.034d708b.jpg) center center no-repeat !important;
	background-size: cover !important;
}
.reviews-4 {
	background: var(--blue) url(./media/4.034d708b.jpg) center center no-repeat !important;
	background-size: cover !important;
}
.reviews-5 {
	background: var(--blue) url(./media/5.034d708b.jpg) center center no-repeat !important;
	background-size: cover !important;
}
.reviews-6 {
	background: var(--blue) url(./media/6.034d708b.jpg) center center no-repeat !important;
	background-size: cover !important;
}
.reviews-7 {
	background: var(--blue) url(./media/7.034d708b.jpg) center center no-repeat !important;
	background-size: cover !important;
}
.reviews-8 {
	background: var(--blue) url(./media/8.034d708b.jpg) center center no-repeat !important;
	background-size: cover !important;
}
.reviews-9 {
	background: var(--blue) url(./media/9.034d708b.jpg) center center no-repeat !important;
	background-size: cover !important;
}
.reviews-10 {
	background: var(--blue) url(./media/10.034d708b.jpg) center center no-repeat !important;
	background-size: cover !important;
}
:root {
	--container-width: 1200px;
	--container-padding: 2rem;
	--font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
		'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
		'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
	--font-main: 'MazzardHRegular', sans-serif;
	--font-accent: 'MazzardHSemiHBold', sans-serif;
	--font-titles: var(--font-accent);
	--page-bg: #f5f5f5;
	--text-color: #fff;
	--accent: #ac182c;
	--link-color: #2578c8;
	--laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
	--primary: #181818;
	--primary-blue: #0029ff;
	--blue: #1c37ff;
	--primary-black: #1e1f24;
	--black: #000;
	--white: #fff;
	--primary-primary25: #f0f2ef;
	--primary-primary50: #d1d9cf;
	--primary-primary100: #b2bfaf;
	--primary-primary200: #a2b39f;
	--primary-primary300: #93a690;
	--primary-primary400: #839980;
	--primary-primary-600: #5a6d57;
	--primary-primary-700: #404e3e;
	--primary-primary750: #343e32;
	--primary-primary800: #272f25;
	--primary-primary900: #0d100c;
	--neutral-backgroundfaf9f5: #faf9f5;
	--neutral-graydfdfdf: #dfdfdf;
	--neutral-grayededed: #ededed;
	--neutral-grayf9f9f9: #f9f9f9;
	--neutral-graycbcbcb: #cbcbcb;
	--neutral-grayadadad: #adadad;
	--neutral-gray868686: #868686;
	--neutral-gray606060: #606060;
	--neutral-gray404040: #404040;
	--neutral-gray202020: #202020;
	--neutral-gray0c0c0c: #0c0c0c;
	--state-color-warning-bg: #f7e4c9;
	--state-color-warning-light: #ecbb77;
	--state-color-warning: #e09126;
	--state-color-error-bg: #fff2f2;
	--state-color-error-light: #ed2e2e;
	--state-color-error: #c30000;
	--state-color-success-bg: #f3fdfa;
	--state-color-success-light: #00ba88;
	--state-color-success: #00966d;
	--font-family: 'Montserrat', sans-serif;
}
.dark {
	--page-bg: #252526;
	--text-color: #fff;
}
