.Telegram_telegram__lgyCt {
	width: 25px;
	height: 25px;
	fill: none;
	flex-shrink: 0;
}
.Telegram_telegram__path__ZfiCy {
	fill: #fff;
	transition: all 0.3s linear;
}
.TGButton_telegram_button__FvH7D {
	display: inline-flex;
	align-items: center;
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 140%;
	text-align: center;
	background: #1c37ff;
	white-space: nowrap;
	text-decoration: none;
	border-radius: 5rem;
	border: none;
	box-sizing: border-box;
	padding: 1.4rem 3rem;
	transition: all 0.3s linear;
	overflow: hidden;
}
@media (max-width: 362px) {
	.TGButton_telegram_button__FvH7D {
		font-size: 1rem;
		line-height: 120%;
		padding: 1.2rem 2rem;
	}
}
.TGButton_telegram_button__FvH7D svg {
	margin-right: 1rem;
}
@media (max-width: 362px) {
	.TGButton_telegram_button__FvH7D svg {
		width: 20px;
		height: 20px;
		margin-right: 0.5rem;
	}
}
.TGButton_telegram_button__FvH7D:hover svg {
	animation: TGButton_plain__z6WYw;
	animation-duration: 0.8s;
	animation-timing-function: ease-in-out;
}
.TGButton_telegram_button__FvH7D:hover {
	background: #00c;
}
@keyframes TGButton_plain__z6WYw {
	0% {
		transform: rotate3d(0);
	}
	50% {
		transform: rotate3d(-10, 10, 1, 60deg);
	}
	to {
		transform: rotate3d(0);
	}
}
.ButtonFixed_button_fixed__zXK1z {
	width: 100%;
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 2rem;
	z-index: 100;
	opacity: 0;
	transition: all 0.1s linear;
}
.Edge_edge__item__0bIst {
	cursor: pointer;
	border-radius: 3rem;
	padding: 4.4rem 3.6rem 3.4rem;
	display: flex;
	flex-direction: column;
	transition: all 0.2s linear;
}
.Edge_edge__item__0bIst h3 {
	font-family: var(--font-main);
	font-size: 1.4rem;
	color: var(--white);
	line-height: normal;
}
.Edge_edge__item__0bIst p {
	font-family: var(--font-main);
	color: var(--white);
	font-size: 1rem;
	line-height: 140%;
	margin-top: 1.5rem;
}
.Edge_edge__item__0bIst:hover {
	transform: translateY(-10px);
	box-shadow: 10px 5px 50px rgba(0, 0, 0, 0.5);
}
.SectionTitle_section__title__FIJEb {
	cursor: default;
	margin-bottom: 3rem;
}
.SectionTitle_section__title__FIJEb h2 {
	font-family: var(--font-accent);
	font-size: 3rem;
	color: var(--primary-black);
	line-height: normal;
}
@media (max-width: 992px) {
	.SectionTitle_section__title__FIJEb h2 {
		font-size: 2.5rem;
		margin-bottom: 2.5rem;
	}
}
@media (max-width: 768px) {
	.SectionTitle_section__title__FIJEb h2 {
		font-size: 2rem;
		margin-bottom: 2rem;
	}
}
.SectionTitle_section__title__FIJEb h3 {
	font-family: var(--font-main);
	font-size: 1.2rem;
	color: var(--white);
	margin-top: 1rem;
}
.Edges_advantages__section__ReZdM {
	background-color: #fff;
	padding-top: 5rem;
	color: var(--white);
}
.Edges_advantages__section__items__bUMX_ {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 3rem;
	gap: 3rem;
}
@media (max-width: 1200px) {
	.Edges_advantages__section__items__bUMX_ {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 992px) {
	.Edges_advantages__section__items__bUMX_ {
		grid-template-columns: repeat(1, 1fr);
		gap: 2rem;
	}
}
.FAQItem_faq__item__2DfOx {
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--page-bg);
	border-radius: 2rem;
	padding: 2rem;
	position: relative;
}
.FAQItem_faq__item__header__5aUGh {
	cursor: pointer;
	width: 100%;
	position: relative;
}
.FAQItem_faq__item__header__5aUGh:after {
	content: '';
	position: absolute;
	flex-shrink: 0;
	top: 0;
	right: 0;
	background: url(./media/course-icon-plus.5fed7c65.svg) 50% no-repeat;
	width: 5rem;
	height: 5rem;
	margin-left: 2rem;
	transition: all 0.2s;
}
.FAQItem_faq__item__subtitle__RcC6u {
	font-family: var(--font-main);
	font-size: 1.1rem;
	line-height: 150%;
	color: #2a99ff;
	text-transform: uppercase;
	margin-bottom: 0;
}
.FAQItem_faq__item__title__OCsxT {
	font-family: var(--font-accent);
	color: var(--primary-black);
	font-size: 1.7rem;
	line-height: 150%;
	margin-bottom: 0;
}
.FAQItem_faq__item__wrapper__UFGAA {
	cursor: default;
	background-color: var(--page-bg);
	max-height: 0;
	overflow: hidden;
	transition: all 0.2s ease-out;
}
.FAQItem_faq__item__answer__wiP4S {
	max-width: 85%;
	font-family: var(--font-main);
	color: var(--primary-black);
	font-size: 1.1rem;
	line-height: 140%;
	margin-top: 0.7rem;
}
.FAQ_faq__section__7tGL5 {
	background-color: var(--white);
	padding: 5rem;
}
.FAQ_faq__section__items__PbKEP {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 3rem;
	gap: 3rem;
}
.Footer_footer__section__7TSpH {
	width: 100%;
	background: #181818 url(./media/footer-bg.1c9fcac9.png) 50% no-repeat;
	background-size: cover;
	padding: 12rem 0 4rem;
}
@media (max-width: 992px) {
	.Footer_footer__section__7TSpH {
		padding: 8rem 0 4rem;
	}
}
@media (max-width: 576px) {
	.Footer_footer__section__7TSpH {
		padding: 6rem 0 2rem;
	}
}
.Footer_footer__section__wrapper__i1MEC {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.Footer_footer__section__title__ROJN_ {
	cursor: default;
	width: 800px;
	font-family: var(--font-accent);
	font-size: 4rem;
	line-height: 140%;
	text-align: center;
	margin-bottom: 4rem;
}
@media (max-width: 992px) {
	.Footer_footer__section__title__ROJN_ {
		max-width: 600px;
		font-size: 3rem;
		line-height: 130%;
		margin-bottom: 2rem;
	}
}
@media (max-width: 576px) {
	.Footer_footer__section__title__ROJN_ {
		width: 100%;
		text-wrap: wrap;
		font-size: 2.5rem;
	}
}
@media (max-width: 362px) {
	.Footer_footer__section__title__ROJN_ {
		font-size: 2rem;
		margin-bottom: 1rem;
	}
}
.Footer_footer__section__copyright__tjA5d {
	cursor: default;
	margin-top: 10rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 0;
}
@media (max-width: 992px) {
	.Footer_footer__section__copyright__tjA5d {
		margin-top: 7rem;
	}
}
@media (max-width: 362px) {
	.Footer_footer__section__copyright__tjA5d {
		font-size: 0.8rem;
	}
}
.Check_check__ywFfV {
	width: 26px;
	height: 27px;
	fill: none;
}
.Check_check__path__k4e_e {
	fill: #fff;
	fill-opacity: 0.3;
}
.Advantage_advantage__ylfZq {
	cursor: default;
	font-size: 1.2rem;
	line-height: 150%;
}
.Advantage_advantage__ylfZq svg {
	margin-right: 0.5rem;
}
@media (max-width: 362px) {
	.Advantage_advantage__ylfZq {
		font-size: 1rem;
		line-height: 100%;
	}
}
.Logo_logo__Xw2ZB {
	width: 200px;
}
.Logo_cls_1__YT0oF {
	stroke: #fff;
	stroke-miterlimit: 10;
}
.Logo_cls_1__YT0oF,
.Logo_cls_2__yvqmD {
	fill: #fff;
}
.Logo_cls_2__yvqmD {
	stroke-width: 0px;
}
.PreTitle_pretitle__TkgZ1 {
	font-weight: 500;
	font-size: 1rem;
	line-height: 150%;
	color: var(--white);
	border: 2px solid var(--white);
	border-radius: 0.7rem;
	padding: 0.5rem 1rem;
}
@media (max-width: 362px) {
	.PreTitle_pretitle__TkgZ1 {
		font-size: 0.8rem;
		line-height: 120%;
	}
}
.MainSection_main__section__mL8Ae {
	min-height: 998px;
	background: #181818 url(./media/top-bg.b59e8fc8.png) top no-repeat;
	padding-top: 3rem;
}
@media (max-width: 1200px) {
	.MainSection_main__section__mL8Ae {
		background: #181818;
	}
}
.MainSection_main__section__wrapper__Rg3kp {
	margin-top: 5rem;
}
@media (max-width: 768px) {
	.MainSection_main__section__wrapper__Rg3kp {
		margin-top: 4rem;
	}
}
@media (max-width: 576px) {
	.MainSection_main__section__wrapper__Rg3kp {
		margin-top: 2rem;
	}
}
@media (max-width: 362px) {
	.MainSection_main__section__wrapper__Rg3kp {
		margin-top: 1.5rem;
	}
}
.MainSection_main__section__title__gGpk5 {
	cursor: default;
	font-family: var(--font-accent);
	font-size: 3.3rem;
	line-height: 130%;
	margin-top: 2rem;
}
@media (max-width: 1200px) {
	.MainSection_main__section__title__gGpk5 {
		max-width: 600px;
	}
}
@media (max-width: 768px) {
	.MainSection_main__section__title__gGpk5 {
		font-size: 2.8rem;
	}
}
@media (max-width: 362px) {
	.MainSection_main__section__title__gGpk5 {
		font-size: 2.2rem;
		line-height: 120%;
		margin-top: 1.5rem;
	}
}
.MainSection_main__section__advantages__664Bw {
	margin-top: 2rem;
}
.MainSection_main__section__advantages__664Bw li:not(:last-child) {
	margin-bottom: 1rem;
}
@media (max-width: 362px) {
	.MainSection_main__section__advantages__664Bw {
		margin-top: 1rem;
	}
}
.MainSection_main__section__button__Wg33O {
	margin-top: 3.4rem;
}
@media (max-width: 362px) {
	.MainSection_main__section__button__Wg33O {
		margin-top: 2rem;
	}
}
.MainSection_box__WEfS8 {
	width: 560px;
	height: 560px;
	background: #181818 url(./media/payoff.0b99e158.gif) 50% no-repeat;
	background-size: 100%;
	border-radius: 1rem;
	position: relative;
}
@media (max-width: 1200px) {
	.MainSection_box__WEfS8 {
		margin-top: 3rem;
		width: 600px;
		height: 600px;
		margin-bottom: 230px;
	}
}
@media (max-width: 992px) {
	.MainSection_box__WEfS8 {
		width: 100%;
		height: 525px;
	}
}
@media (max-width: 576px) {
	.MainSection_box__WEfS8 {
		width: 100%;
		height: 500px;
	}
}
@media (max-width: 362px) {
	.MainSection_box__WEfS8 {
		margin-top: 2rem;
		margin-bottom: 175px;
		height: 300px;
	}
}
.MainSection_box__WEfS8:after {
	box-sizing: border-box;
	content: '';
	position: absolute;
	width: 450px;
	height: 450px;
	background: url(./media/top-arrow.cad4ac22.svg) 0 no-repeat;
	bottom: -330px;
	right: 300px;
}
@media (max-width: 1200px) {
	.MainSection_box__WEfS8:after {
		width: 375px;
		height: 375px;
		bottom: -300px;
		left: 0;
	}
}
@media (max-width: 768px) {
	.MainSection_box__WEfS8:after {
		left: unset;
		right: 50px;
	}
}
@media (max-width: 576px) {
	.MainSection_box__WEfS8:after {
		left: 0;
	}
}
@media (max-width: 362px) {
	.MainSection_box__WEfS8:after {
		width: 100%;
		bottom: -275px;
	}
}
.MainSection_sec_icon__tQLEf {
	width: 560px;
	height: 560px;
	position: relative;
	background-color: var(--primary-blue);
	border-radius: 1rem;
}
.MainSection_sec_icon__item__rYuef:first-child {
	position: absolute;
	top: 0;
	left: 25%;
	width: 200px;
	height: 200px;
	background: transparent url(./media/1.2200d281.png) 50% no-repeat;
	background-size: 100%;
	z-index: 100;
	animation: MainSection_levitateUp__3W6UI;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.MainSection_sec_icon__item__rYuef:nth-child(2) {
	position: absolute;
	top: 5%;
	left: 0;
	width: 200px;
	height: 200px;
	background: transparent url(./media/2.32c32054.png) 50% no-repeat;
	background-size: 100%;
	z-index: 90;
	animation: MainSection_levitateDown__AUzAy;
	animation-duration: 10s;
	animation-delay: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.MainSection_sec_icon__item__rYuef:nth-child(3) {
	position: absolute;
	top: 45%;
	left: 50%;
	width: 200px;
	height: 200px;
	background: transparent url(./media/3.77a1b41a.png) 50% no-repeat;
	background-size: 100%;
	z-index: 80;
	animation: MainSection_levitateUp__3W6UI;
	animation-duration: 10s;
	animation-delay: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.MainSection_sec_icon__item__rYuef:nth-child(4) {
	position: absolute;
	top: 55%;
	left: 25%;
	width: 200px;
	height: 200px;
	background: transparent url(./media/4.83d361a9.png) 50% no-repeat;
	background-size: 100%;
	z-index: 70;
	animation: MainSection_levitateDown__AUzAy;
	animation-duration: 10s;
	animation-delay: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.MainSection_sec_icon__item__rYuef:nth-child(5) {
	position: absolute;
	top: -5%;
	left: 60%;
	width: 200px;
	height: 200px;
	background: transparent url(./media/5.59d40543.png) 50% no-repeat;
	background-size: 100%;
	z-index: 60;
	animation: MainSection_levitateUp__3W6UI;
	animation-duration: 10s;
	animation-delay: 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes MainSection_levitateUp__3W6UI {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(20px);
	}
	75% {
		transform: translateY(-20px);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes MainSection_levitateDown__AUzAy {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(-20px);
	}
	75% {
		transform: translateY(20px);
	}
	to {
		transform: translateY(0);
	}
}
@font-face {
	font-family: swiper-icons;
	src: url('data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA');
	font-weight: 400;
	font-style: normal;
}
:root {
	--swiper-theme-color: #007aff;
}
:host {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
}
.swiper {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
	display: block;
}
.swiper-vertical > .swiper-wrapper {
	flex-direction: column;
}
.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	transition-property: transform;
	transition-timing-function: var(
		--swiper-wrapper-transition-timing-function,
		initial
	);
	box-sizing: content-box;
}
.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
	transform: translateZ(0);
}
.swiper-horizontal {
	touch-action: pan-y;
}
.swiper-vertical {
	touch-action: pan-x;
}
.swiper-slide {
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	transition-property: transform;
	display: block;
}
.swiper-slide-invisible-blank {
	visibility: hidden;
}
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
	height: auto;
}
.swiper-autoheight .swiper-wrapper {
	align-items: flex-start;
	transition-property: transform, height;
}
.swiper-backface-hidden .swiper-slide {
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.swiper-3d.swiper-css-mode .swiper-wrapper {
	perspective: 1200px;
}
.swiper-3d .swiper-wrapper {
	transform-style: preserve-3d;
}
.swiper-3d {
	perspective: 1200px;
}
.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide {
	transform-style: preserve-3d;
}
.swiper-css-mode > .swiper-wrapper {
	overflow: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
	display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
	scroll-snap-align: start start;
}
.swiper-css-mode.swiper-horizontal > .swiper-wrapper {
	scroll-snap-type: x mandatory;
}
.swiper-css-mode.swiper-vertical > .swiper-wrapper {
	scroll-snap-type: y mandatory;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
	scroll-snap-type: none;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
	scroll-snap-align: none;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper:before {
	content: '';
	flex-shrink: 0;
	order: 9999;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide {
	scroll-snap-align: center center;
	scroll-snap-stop: always;
}
.swiper-css-mode.swiper-centered.swiper-horizontal
	> .swiper-wrapper
	> .swiper-slide:first-child {
	-webkit-margin-start: var(--swiper-centered-offset-before);
	margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper:before {
	height: 100%;
	min-height: 1px;
	width: var(--swiper-centered-offset-after);
}
.swiper-css-mode.swiper-centered.swiper-vertical
	> .swiper-wrapper
	> .swiper-slide:first-child {
	-webkit-margin-before: var(--swiper-centered-offset-before);
	margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper:before {
	width: 100%;
	min-width: 1px;
	height: var(--swiper-centered-offset-after);
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
	background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
	background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-3d .swiper-slide-shadow-right {
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-3d .swiper-slide-shadow-top {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-3d .swiper-slide-shadow-bottom {
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-lazy-preloader {
	width: 42px;
	height: 42px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -21px;
	margin-top: -21px;
	z-index: 10;
	transform-origin: 50%;
	box-sizing: border-box;
	border-radius: 50%;
	border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
	border-top: 4px solid transparent;
}
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader,
.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader {
	animation: swiper-preloader-spin 1s linear infinite;
}
.swiper-lazy-preloader-white {
	--swiper-preloader-color: #fff;
}
.swiper-lazy-preloader-black {
	--swiper-preloader-color: #000;
}
@keyframes swiper-preloader-spin {
	0% {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(1turn);
	}
}
:root {
	--swiper-navigation-size: 44px;
}
.swiper-button-next,
.swiper-button-prev {
	position: absolute;
	top: var(--swiper-navigation-top-offset, 50%);
	width: calc(var(--swiper-navigation-size) / 44 * 27);
	height: var(--swiper-navigation-size);
	margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
	z-index: 10;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
	opacity: 0.35;
	cursor: auto;
	pointer-events: none;
}
.swiper-button-next.swiper-button-hidden,
.swiper-button-prev.swiper-button-hidden {
	opacity: 0;
	cursor: auto;
	pointer-events: none;
}
.swiper-navigation-disabled .swiper-button-next,
.swiper-navigation-disabled .swiper-button-prev {
	display: none !important;
}
.swiper-button-next svg,
.swiper-button-prev svg {
	width: 100%;
	height: 100%;
	object-fit: contain;
	transform-origin: center;
}
.swiper-rtl .swiper-button-next svg,
.swiper-rtl .swiper-button-prev svg {
	transform: rotate(180deg);
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
	left: var(--swiper-navigation-sides-offset, 10px);
	right: auto;
}
.swiper-button-lock {
	display: none;
}
.swiper-button-next:after,
.swiper-button-prev:after {
	font-family: swiper-icons;
	font-size: var(--swiper-navigation-size);
	text-transform: none !important;
	letter-spacing: 0;
	font-variant: normal;
	line-height: 1;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
	content: 'prev';
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
	right: var(--swiper-navigation-sides-offset, 10px);
	left: auto;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
	content: 'next';
}
.swiper-pagination {
	position: absolute;
	text-align: center;
	transition: opacity 0.3s;
	transform: translateZ(0);
	z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
	opacity: 0;
}
.swiper-pagination-disabled > .swiper-pagination,
.swiper-pagination.swiper-pagination-disabled {
	display: none !important;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: var(--swiper-pagination-bottom, 8px);
	top: var(--swiper-pagination-top, auto);
	left: 0;
	width: 100%;
}
.swiper-pagination-bullets-dynamic {
	overflow: hidden;
	font-size: 0;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	transform: scale(0.33);
	position: relative;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
	transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
	transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
	transform: scale(0.33);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
	transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
	transform: scale(0.33);
}
.swiper-pagination-bullet {
	width: var(
		--swiper-pagination-bullet-width,
		var(--swiper-pagination-bullet-size, 8px)
	);
	height: var(
		--swiper-pagination-bullet-height,
		var(--swiper-pagination-bullet-size, 8px)
	);
	display: inline-block;
	border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
	background: var(--swiper-pagination-bullet-inactive-color, #000);
	opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}
button.swiper-pagination-bullet {
	border: none;
	margin: 0;
	padding: 0;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
	cursor: pointer;
}
.swiper-pagination-bullet:only-child {
	display: none !important;
}
.swiper-pagination-bullet-active {
	opacity: var(--swiper-pagination-bullet-opacity, 1);
	background: var(--swiper-pagination-color, var(--swiper-theme-color));
}
.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
	right: var(--swiper-pagination-right, 8px);
	left: var(--swiper-pagination-left, auto);
	top: 50%;
	transform: translate3d(0, -50%, 0);
}
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
	display: block;
}
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-vertical
	> .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
	top: 50%;
	transform: translateY(-50%);
	width: 8px;
}
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
	.swiper-pagination-bullet,
.swiper-vertical
	> .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
	.swiper-pagination-bullet {
	display: inline-block;
	transition: transform 0.2s, top 0.2s;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
	.swiper-pagination-bullet {
	margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}
.swiper-horizontal
	> .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
}
.swiper-horizontal
	> .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
	.swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
	.swiper-pagination-bullet {
	transition: transform 0.2s, left 0.2s;
}
.swiper-horizontal.swiper-rtl
	> .swiper-pagination-bullets-dynamic
	.swiper-pagination-bullet {
	transition: transform 0.2s, right 0.2s;
}
.swiper-pagination-fraction {
	color: var(--swiper-pagination-fraction-color, inherit);
}
.swiper-pagination-progressbar {
	background: var(
		--swiper-pagination-progressbar-bg-color,
		rgba(0, 0, 0, 0.25)
	);
	position: absolute;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	background: var(--swiper-pagination-color, var(--swiper-theme-color));
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transform: scale(0);
	transform-origin: left top;
}
.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	transform-origin: right top;
}
.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical
	> .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
	width: 100%;
	height: var(--swiper-pagination-progressbar-size, 4px);
	left: 0;
	top: 0;
}
.swiper-horizontal
	> .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-vertical > .swiper-pagination-progressbar {
	width: var(--swiper-pagination-progressbar-size, 4px);
	height: 100%;
	left: 0;
	top: 0;
}
.swiper-pagination-lock {
	display: none;
}
.Reviews_reviews__section__41WTc {
	text-align: center;
	padding-top: 5rem;
}
.Reviews_reviews__section__wrapper__Xtdtg {
	margin-top: 5rem;
	height: 650px;
}
.Reviews_reviews__section__img__CE7W3 {
	height: 100%;
	border-radius: 1rem;
}
.Services_services__section__vCoLP {
	background-color: #1f1f1f;
	padding-top: 5rem;
}
.Services_services__section__grid__E0yDQ {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0;
	gap: 0;
}
@media (max-width: 992px) {
	.Services_services__section__grid__E0yDQ {
		grid-template-columns: repeat(2, 1fr);
	}
}
.Services_services__section__grid__item__sBqUi {
	width: 100%;
	height: 160px;
	border-left: 1.5px solid #fafafa;
	border-top: 1.5px solid #fafafa;
}
.Services_services__section__grid__item__sBqUi:first-child,
.Services_services__section__grid__item__sBqUi:nth-child(13),
.Services_services__section__grid__item__sBqUi:nth-child(5),
.Services_services__section__grid__item__sBqUi:nth-child(9) {
	border-left: 1.5px solid transparent;
}
@media (max-width: 992px) {
	.Services_services__section__grid__item__sBqUi:nth-child(11),
	.Services_services__section__grid__item__sBqUi:nth-child(15),
	.Services_services__section__grid__item__sBqUi:nth-child(3),
	.Services_services__section__grid__item__sBqUi:nth-child(5),
	.Services_services__section__grid__item__sBqUi:nth-child(7) {
		border-left: 1.5px solid transparent;
	}
}
.Services_services__section__grid__item__sBqUi:first-child {
	background: transparent url(./media/service-1.ac3d6891.svg) 50% no-repeat;
	background-size: 50%;
}
@media (max-width: 576px) {
	.Services_services__section__grid__item__sBqUi:first-child {
		background-size: 75%;
	}
}
.Services_services__section__grid__item__sBqUi:nth-child(2) {
	background: transparent url(./media/service-2.3588f051.svg) 50% no-repeat;
	background-size: 50%;
}
@media (max-width: 576px) {
	.Services_services__section__grid__item__sBqUi:nth-child(2) {
		background-size: 75%;
	}
}
.Services_services__section__grid__item__sBqUi:nth-child(3) {
	background: transparent url(./media/service-3.548b64cc.svg) 50% no-repeat;
	background-size: 50%;
}
@media (max-width: 576px) {
	.Services_services__section__grid__item__sBqUi:nth-child(3) {
		background-size: 75%;
	}
}
.Services_services__section__grid__item__sBqUi:nth-child(4) {
	background: transparent url(./media/service-4.b42946b7.svg) 50% no-repeat;
	background-size: 50%;
}
@media (max-width: 576px) {
	.Services_services__section__grid__item__sBqUi:nth-child(4) {
		background-size: 75%;
	}
}
.Services_services__section__grid__item__sBqUi:nth-child(5) {
	background: transparent url(./media/service-5.60f71b3a.svg) 50% no-repeat;
	background-size: 50%;
}
@media (max-width: 576px) {
	.Services_services__section__grid__item__sBqUi:nth-child(5) {
		background-size: 75%;
	}
}
.Services_services__section__grid__item__sBqUi:nth-child(6) {
	background: transparent url(./media/service-6.ec4cc60f.svg) 50% no-repeat;
	background-size: 50%;
}
@media (max-width: 576px) {
	.Services_services__section__grid__item__sBqUi:nth-child(6) {
		background-size: 75%;
	}
}
.Services_services__section__grid__item__sBqUi:nth-child(7) {
	background: transparent url(./media/service-7.f35ea928.svg) 50% no-repeat;
	background-size: 50%;
}
@media (max-width: 576px) {
	.Services_services__section__grid__item__sBqUi:nth-child(7) {
		background-size: 75%;
	}
}
.Services_services__section__grid__item__sBqUi:nth-child(8) {
	background: transparent url(./media/service-8.10d4c92d.svg) 50% no-repeat;
	background-size: 50%;
}
@media (max-width: 576px) {
	.Services_services__section__grid__item__sBqUi:nth-child(8) {
		background-size: 75%;
	}
}
.Services_services__section__grid__item__sBqUi:nth-child(9) {
	background: transparent url(./media/service-9.bf51fb40.svg) 50% no-repeat;
	background-size: 50%;
}
@media (max-width: 576px) {
	.Services_services__section__grid__item__sBqUi:nth-child(9) {
		background-size: 75%;
	}
}
.Services_services__section__grid__item__sBqUi:nth-child(10) {
	background: transparent url(./media/service-10.c1ceef86.svg) 50% no-repeat;
	background-size: 50%;
}
@media (max-width: 576px) {
	.Services_services__section__grid__item__sBqUi:nth-child(10) {
		background-size: 75%;
	}
}
.Services_services__section__grid__item__sBqUi:nth-child(11) {
	background: transparent url(./media/service-11.46899e61.svg) 50% no-repeat;
	background-size: 50%;
}
@media (max-width: 576px) {
	.Services_services__section__grid__item__sBqUi:nth-child(11) {
		background-size: 75%;
	}
}
.Services_services__section__grid__item__sBqUi:nth-child(12) {
	background: transparent url(./media/service-12.b9328c28.svg) 50% no-repeat;
	background-size: 50%;
}
@media (max-width: 576px) {
	.Services_services__section__grid__item__sBqUi:nth-child(12) {
		background-size: 75%;
	}
}
.Services_services__section__grid__item__sBqUi:nth-child(13) {
	background: transparent url(./media/service-13.2f049330.svg) 50% no-repeat;
	background-size: 50%;
}
@media (max-width: 576px) {
	.Services_services__section__grid__item__sBqUi:nth-child(13) {
		background-size: 75%;
	}
}
.Services_services__section__grid__item__sBqUi:nth-child(14) {
	background: transparent url(./media/service-14.4f14d49d.svg) 50% no-repeat;
	background-size: 50%;
}
@media (max-width: 576px) {
	.Services_services__section__grid__item__sBqUi:nth-child(14) {
		background-size: 75%;
	}
}
.Services_services__section__grid__item__sBqUi:nth-child(15) {
	background: transparent url(./media/service-15.735ef84b.svg) 50% no-repeat;
	background-size: 50%;
}
@media (max-width: 576px) {
	.Services_services__section__grid__item__sBqUi:nth-child(15) {
		background-size: 75%;
	}
}
.Services_services__section__grid__item__sBqUi:nth-child(16) {
	background: transparent url(./media/service-16.ce835f04.svg) 50% no-repeat;
	background-size: 50%;
}
@media (max-width: 576px) {
	.Services_services__section__grid__item__sBqUi:nth-child(16) {
		background-size: 75%;
	}
}
.WorkStepItem_work_step__item__AfEPD {
	cursor: pointer;
	background-color: var(--white);
	border-radius: 2rem;
	position: relative;
	overflow: hidden;
	border: 1px solid var(--white);
	transition: all 0.2s linear;
}
.WorkStepItem_work_step__item__wrapper__B8SGr {
	position: relative;
	z-index: 5;
	padding: 2.5rem 5rem;
}
@media (max-width: 992px) {
	.WorkStepItem_work_step__item__wrapper__B8SGr {
		padding: 2.5rem 3rem;
	}
}
@media (max-width: 362px) {
	.WorkStepItem_work_step__item__wrapper__B8SGr {
		padding: 2rem 2.5rem;
	}
}
.WorkStepItem_work_step__item__wrapper__B8SGr span {
	font-family: var(--font-accent);
	color: var(--black);
	font-size: 1.8rem;
	line-height: normal;
}
@media (max-width: 768px) {
	.WorkStepItem_work_step__item__wrapper__B8SGr span {
		font-size: 1.5rem;
	}
}
@media (max-width: 576px) {
	.WorkStepItem_work_step__item__wrapper__B8SGr span {
		line-height: normal;
	}
}
.WorkStepItem_work_step__item__wrapper__B8SGr p {
	font-family: var(--font-main);
	color: var(--primary-black);
	font-size: 1.1rem;
	line-height: 140%;
	margin-top: 1rem;
}
@media (max-width: 992px) {
	.WorkStepItem_work_step__item__wrapper__B8SGr p {
		margin-top: 0.8rem;
	}
}
@media (max-width: 768px) {
	.WorkStepItem_work_step__item__wrapper__B8SGr p {
		margin-top: 0.8rem;
		font-size: 1rem;
		line-height: 120%;
	}
}
@media (max-width: 362px) {
	.WorkStepItem_work_step__item__wrapper__B8SGr p {
		font-size: 0.9rem;
	}
}
.WorkStepItem_work_step__item__bg__UERuo {
	font-family: var(--font-accent);
	color: #4b8aff;
	opacity: 0.1;
	font-size: 15rem;
	line-height: 50%;
	position: absolute;
	bottom: 0;
	left: 1rem;
	z-index: 1;
	transition: all 0.2s linear;
}
.WorkStepItem_work_step__item__AfEPD:hover
	.WorkStepItem_work_step__item__bg__UERuo {
	opacity: 0.3;
}
.WorkSteps_work_steps__section__items__vMIXD {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 3rem;
	gap: 3rem;
}
@media (max-width: 992px) {
	.WorkSteps_work_steps__section__items__vMIXD {
		gap: 2rem;
	}
}
@media (max-width: 768px) {
	.WorkSteps_work_steps__section__items__vMIXD {
		grid-template-columns: repeat(1, 1fr);
	}
}
